@using EShop.Domain.ViewModels.Product
@model ProductDetailsViewModel

@{
    ViewData["Title"] = "جزئیات محصول";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row table table-bordered table-striped">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductGroup.GroupTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">ویرایش</a> |
    <a class="btn btn-success" asp-action="Index">بازگشت به صفحه اصلی</a>
</div>
